.my-message {
  text-align: right;
  color: blue;
  background-color: #e6f7ff;
  width: 30%;
  margin-left: auto;
}

.other-message {
  text-align: left;
  color: green;
  background-color: #f0f0f0;
  width: 30%;
  margin-right: auto;
}

.my-message,
.other-message {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  word-wrap: break-word;
}